// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** very dark blue **/
  --ion-color-verydarkblue: #14181D;
  --ion-color-verydarkblue-rgb: 20,24,29;
  --ion-color-verydarkblue-contrast: #ffffff;
  --ion-color-verydarkblue-contrast-rgb: 255,255,255;
  --ion-color-verydarkblue-shade: #12151a;
  --ion-color-verydarkblue-tint: #2c2f34;

  --ion-background-color: #111217;
  --ion-background-color-rgb: 17,18,23;

  --ion-text-color: #F0E6D2;
  --ion-text-color-rgb: 240,230,210;

  --ion-color-step-50: #1c1d20;
  --ion-color-step-100: #27272a;
  --ion-color-step-150: #323233;
  --ion-color-step-200: #3e3c3c;
  --ion-color-step-250: #494746;
  --ion-color-step-300: #54524f;
  --ion-color-step-350: #5f5c58;
  --ion-color-step-400: #6a6762;
  --ion-color-step-450: #75716b;
  --ion-color-step-500: #817c75;
  --ion-color-step-550: #8c877e;
  --ion-color-step-600: #979187;
  --ion-color-step-650: #a29c91;
  --ion-color-step-700: #ada69a;
  --ion-color-step-750: #b8b1a3;
  --ion-color-step-800: #c3bcad;
  --ion-color-step-850: #cfc6b6;
  --ion-color-step-900: #dad1bf;
  --ion-color-step-950: #e5dbc9;
}

@font-face {
  font-family: 'BeaufortLOL';
  src: url("../assets/fonts/BeaufortforLOL-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

ion-toolbar {
  --background: #1D232B;
  --border-color: #483310;
  --border-style: solid;
  --border-width: 0 0 2px 0 !important;
  --color: #F0E6D2;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 15px;
}

ion-tab-bar {
  --background: #1D232B;
  --border: solid 2px #483310;
}

ion-tab-button {
  --color: #645F4C;
  --color-selected: #966B22;
}

ion-back-button {
  --color: #C89B3C !important;
}
